@model RPPP_WebApp.Models.Suradnik




<h2 class="my-3">Detalji Suradnika
    <form asp-action="Delete" method="post" asp-route-id="@Model.SuradnikId">
        <input type="hidden" name="SuradnikId" value="@Model.SuradnikId" />
        <button class="btn btn-danger mb-3 ms-2" style="float:right" type="submit">Obriši</button>
    </form>

    <a 
        hx-include="closest div"
        hx-post='@Url.Action("EditDetail", "Suradnik", new {index = ViewBag.index})'
        class = "btn btn-success mb-3 " style="float:right" >Spremi</a>
        
</h2>

 <div style="display:flex">
        @if (ViewBag.Previous != null) {
            <a class = "btn btn-primary mb-3 me-2" asp-action="Detail" asp-route-id = "@ViewBag.Previous" asp-route-index = "@(ViewBag.Index - 1)"> Prethodni</a>
        }
        @if (ViewBag.Next != null) {
            <a class = "btn btn-primary mb-3 " asp-action="Detail" asp-route-id="@ViewBag.Next" asp-route-index = "@(ViewBag.Index + 1)">Sljedeći  </a>
        }
    </div> 

@* <div style="display:flex">
    <a class = "btn btn-primary mb-3 me-2" asp-action="Detail" asp-route-id = "@previous">Prethodna</a>
    <a class = "btn btn-primary mb-3" asp-action="Detail" asp-route-id="@next">Sljedeća</a>
</div> *@

<div class="form-group">
    <label asp-for="Ime"></label>
    <div><span asp-validation-for="Ime" class=" text-danger"></span></div>
    <input  asp-for="Ime" class="form-control" />
</div>

<div class="form-group mt-2">
    <label asp-for="Prezime"></label>
    <div><span asp-validation-for="Prezime" class=" text-danger"></span></div>
    <input  asp-for="Prezime" class="form-control" />
</div>

<div class="form-group mt-2">
    <label asp-for="Email"></label>
    <div><span asp-validation-for="Email" class=" text-danger"></span></div>
    <input  asp-for="Email" class="form-control" />
</div>

<div class="form-group mt-2">
    <label asp-for="BrojMobitela"></label>
    <div><span asp-validation-for="BrojMobitela" class="text-danger"></span></div>
    <input  asp-for="BrojMobitela" class="form-control" />
</div>

<hr>

<h2 class="my-3">Poslovi</h2>

<table class="table table-striped" id="tableTransakcije">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Opis</th>
            <th scope="col">Projekt</th>
            <th scope="col">Vrsta posla</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var posao in Model.Posaos)
        {
           

            Html.RenderPartial("~/Views/Posao/Get.cshtml", posao);



        }
    </tbody>
</table>

<a hx-get='@Url.Action("GetAddRow", "Posao", new {SuradnikId = Model.SuradnikId})' class="btn btn-primary" hx-target="#tablePoslovi tbody"
   hx-swap="afterend" hx-swap="outerHTML" id="dodajPosaoGumb">
    Novi Posao +
</a>

@section styles{
<link rel="stylesheet"
href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"/>
<link rel="stylesheet"
href="~/lib/jqueryui/jquery-ui.css" />
}
@section scripts{
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>

    <script>
        window.applicationBaseUrl = '@Url.Content("~/")';
    </script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
        localStorage.setItem('SuradnikId', '@ViewBag.SuradnikId')

        $(document).ready(function () {
            $('#tablePoslovi').DataTable();
        });
    </script>
    <script>
        document.body.addEventListener("showMessage", function (evt) {
            toastr[evt.detail.messageType](evt.detail.message);
        })
        document.body.addEventListener("htmx:responseError",
            function (evt) {
                toastr["error"](evt.detail.error);
            })
    </script>
}