@model List<RPPP_WebApp.Models.Suradnik> 

@{
    ViewData["Title"] = "Suradnici";
}

<h2 class="my-3">Suradnici</h2>

<a class = "btn btn-primary mb-3" asp-action="Create">Dodaj Novi</a>
<table class="table table-striped" id = "tableSuradnici">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">E-mail</th>
            <th scope="col">Broj mobitela</th>
            <th scope="col">Poslovi</th>
           
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++) {
            var suradnik = Model[i];
            <tr>
                <th scope="row">@suradnik.SuradnikId</th>
                
                <td> @suradnik.Ime </td>
                <td> @suradnik.Prezime </td>
                <td> @suradnik.Email </td>
                <td> @suradnik.BrojMobitela </td>
                <td> 
                     @string.Join(", ", suradnik.Posaos.Select(posao => posao.Opis))

                    </td>
                   
                <td>
                    <a asp-action="Detail"
                        asp-route-id="@suradnik.SuradnikId"
                        asp-route-index="@i"
                        class="btn btn-secondary" title="Detalji"> Detalji </a>
                    <a asp-action="Edit"
                        asp-route-id="@suradnik.SuradnikId"
                        class="btn btn-primary" title="Ažuriraj"> Ažuriraj </a>

                    <form asp-action="Delete" method="post" style="display: inline-block;">
                            <input type="hidden" name="SuradnikId"
                            value="@suradnik.SuradnikId" />
                            <button type="submit" title="Obriši" class="delete btn btn-danger"> Izbriši </button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

@section styles{
<link rel="stylesheet"
href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"/>
}
@section scripts{
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
$('#tableSuradnici').DataTable();
});
</script>
}